.form_wrap {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(128, 118, 118, 0.2);
  height: 30em;
  width: 20em;
  border-bottom: 2em solid blue;
  margin-bottom: -25em;
  margin-top: 1em;
  z-index: 10;
  padding: 1em;
  background-color: white;
}

.icon {
  font-size: 2.5em;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  padding-bottom: 0.2em;
}

textarea {
  height: 7em;
}

.form_row {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.submit_button {
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
  width: 50%;
  padding: 0.5em 1em 0.5em 1em;
  background-color: blue;
  color: white;
  border: none;
  font-weight: 500;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 10;
}

.loading_background {
  z-index: 9;
  background-color: white;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
