.main_icon {
  font-size: 5em;
  color: blue;
  animation: spin 10s linear infinite;
}

.top_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  flex-basis: 33%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
