@media only screen and (max-width: 900px) {
  .header_home {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    background-color: lightcyan;
  }

  .header_not_home {
    border-bottom: lightgrey 0.5px dotted;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin-bottom: 2em;
  }

  .right_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
  }

  .left_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 33%;
  }

  .mid_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33%;
  }

  .search {
    padding: 0.5em;
    align-self: end;
    flex-wrap: wrap;
    flex: 1;
    background-color: lightcyan;
    width: 100%;
  }

  .search_icon {
    font-size: 2em;
    cursor: pointer;
    padding: 0.2em;
  }

  .hamburger {
    font-size: 2em;
    padding: 0.2em;
    cursor: pointer;
  }

  .close_button {
    font-size: 2em;
    cursor: pointer;
    padding: 0.2em;
  }
}

/* header links */

.header_link {
  display: flex;
  padding: 0.6em;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.2em;
  cursor: pointer;
  background-color: lightcyan;
  align-items: center;
}

.header_link_active {
  border-bottom: 1px solid red;
}
