@media only screen and (min-width: 900px) {
  .blog_layout {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (max-width: 900px) {
  .blog_layout {
    display: flex;
    flex-direction: column;
  }
}
.blog_post_column {
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  margin-right: 2em;
}

@media only screen and (min-width: 900px) {
  .top_posts {
    height: 100%;
    margin-right: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7.5em;
  }
  .icon {
    font-size: 2.5em;
    margin-top: 1.5em;
  }
  .top_posts > h3 {
    text-decoration: underline;
    color: blue;
  }
  .top_posts > div {
    padding-top: 1em;
  }
}

@media only screen and (max-width: 900px) {
  .top_posts {
    display: none;
  }
}
