html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 100;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

p {
  font-weight: 100;
}

:root {
  --primary-color: blue;
  --secondary-color: white;
}

.main_pages_top_div {
  width: 80%;
}
