/* Desktop Header */

@media only screen and (min-width: 900px) {
  .header_home {
    display: grid;
    grid-template-columns: [left_header] 1fr [mid_header] 1fr [right_header] 1fr;
    padding: 1em;

    background-color: lightcyan;
  }

  .header_not_home {
    border-bottom: lightgrey 0.5px dotted;
    display: grid;
    grid-template-columns: [left_header] 1fr [mid_header] 1fr [right_header] 1fr;
    padding: 1em;

    margin-bottom: 2em;
  }

  .right_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .left_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .mid_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  /* header links */

  .header_link {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
  }

  .header_link:hover {
    border-bottom: 1px solid red;
  }

  .header_link_active {
    border-bottom: 1px solid red;
  }

  .menu_icon {
    display: none;
  }

  .mobile_logo {
    display: none;
  }

  .mobile_search {
    display: none;
  }
}

/* Mobile Header */

@media only screen and (max-width: 900px) {
  .header_home {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    background-color: lightcyan;
  }

  .header_not_home {
    border-bottom: lightgrey 0.5px dotted;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin-bottom: 2em;
  }

  .right_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 33%;
  }

  .left_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-basis: 33%;
  }

  .mid_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: 33%;
  }

  .search_home {
    padding: 0.5em;
    padding-top: 1em;
    align-self: end;
    background-color: lightcyan;
    animation: appearIn 0.5s;
  }

  .search_not_home {
    padding: 0.5em;
    padding-top: 1em;
    align-self: end;
    animation: appearIn 0.5s;
  }

  .search_icon {
    font-size: 2em;
    cursor: pointer;
    padding: 0.2em;
  }

  .hamburger {
    font-size: 2em;
    padding: 0.2em;
    cursor: pointer;
  }

  .close_button {
    font-size: 2em;
    cursor: pointer;
    padding: 0.2em;
  }

  @keyframes appearIn {
    from {
      transform: scale(0, 0);
    }
    to {
      transform: scale(1, 1);
    }
  }

  /* header links */

  .header_links_mobile {
    display: flex;
    padding: 0.6em;
    margin-bottom: 1em;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
  }

  .dropdown_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;
    cursor: pointer;
    background-color: lightcyan;
    align-items: center;
  }

  .dropdown_not_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    align-items: center;
  }

  .header_link_active {
    border-bottom: 1px solid red;
  }

  .mobile_search {
    display: flex;
  }

  .desktop_logo {
    display: none;
  }

  .desktop_links {
    display: none;
  }

  .search_box {
    display: none;
  }

  .search {
    display: none;
  }
}
/* Uncomment If Auth is enabled

/* Drop down menu 
.header_photo {
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.drop_down_wrapper {
  position: relative;
  display: inline-block;
}

.drop_down_wrapper > i {
  margin-top: 5px;
  cursor: pointer;
}

.drop_down_account {
  position: absolute;
  z-index: 1;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  background-color: white;
}

.drop_down_link {
  text-align: center;
  width: 10vh;
  padding: 5px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.drop_down_link:hover {
  color: white;
  background-color: blue;
}

/* Login Button 

.login_button {
  border: 1px solid blue;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.login_button_active {
  color: white;
  background-color: blue;
}

.login_button:hover {
  color: white;
  background-color: blue;
}
*/
