.footer_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  position: relative;
  margin-bottom: -50px;
}

.footer_link {
  padding: 5px;
  color: white;
}

.footer_buffer {
  height: 15px;
  background-color: darkpurple;
}

.footer_main {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: darkblue;
}

.right_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  background-color: darkblue;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.left_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
