.forgot_password {
  text-decoration: underline;
  cursor: pointer;
}

.form_container {
  width: 60vh;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 10;
}

.loading_background {
  z-index: 9;
  background-color: white;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
