.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(128, 118, 118, 0.2);
  height: 300px;
  width: 100%;
  overflow: hidden;
}

/* fix card image for larger screens, add font weights to card text */

.card > img {
  width: 100%;
  height: 30%;
}

.card_title {
  padding-left: 1em;
}

.card_desc {
  padding: 1em;
}
